body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.backgroundAllPage {
  background-color: #807979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  background-color: azure;
  width: 80vh;
  height: 37vh;
  border: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 0;
}
.center{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.textRGB {
  margin-bottom: 65px;
  text-align: center;
  font-size: 20px;
  color: #000;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  padding: 7px 10px;
  margin-bottom: 20px;
  margin: auto;
}

.btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

h2 {
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
}
@media (width: 300px){
  .btnContainer{
    margin-top: 20px;
  }
}
